body {
  font-family: 'Comic Sans MS', cursive;
}

/* Restaurant name */
.navbar-brand h1 {
  color: #2C1A1D;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
